.DS_Store
dist/
__pycache__/
/Forever-Class-Icons/PNG-256/Druid.png
/Forever-Class-Icons/PNG-256/Hunter.png
/Forever-Class-Icons/PNG-256/Mage.png
/Forever-Class-Icons/PNG-256/Paladin.png
/Forever-Class-Icons/PNG-256/Priest.png
/Forever-Class-Icons/PNG-256/Rogue.png
/Forever-Class-Icons/PNG-256/Shaman.png
/Forever-Class-Icons/PNG-256/Warlock.png
/Forever-Class-Icons/PNG-256/Warrior.png
/Forever-Class-Icons/PNG-Original/Druid.png
/Forever-Class-Icons/PNG-Original/Hunter.png
/Forever-Class-Icons/PNG-Original/Mage.png
/Forever-Class-Icons/PNG-Original/Paladin.png
/Forever-Class-Icons/PNG-Original/Priest.png
/Forever-Class-Icons/PNG-Original/Rogue.png
/Forever-Class-Icons/PNG-Original/Shaman.png
/Forever-Class-Icons/PNG-Original/Warlock.png
/Forever-Class-Icons/PNG-Original/Warrior.png
/Forever-Class-Icons/TGA-256/Druid.tga
/Forever-Class-Icons/TGA-256/Hunter.tga
/Forever-Class-Icons/TGA-256/Mage.tga
/Forever-Class-Icons/TGA-256/Paladin.tga
/Forever-Class-Icons/TGA-256/Priest.tga
/Forever-Class-Icons/TGA-256/Rogue.tga
/Forever-Class-Icons/TGA-256/Shaman.tga
/Forever-Class-Icons/TGA-256/Warlock.tga
/Forever-Class-Icons/TGA-256/Warrior.tga
/Forever-Class-Icons/original-flat-prompts.txt
/Forever-Class-Icons/Preview.html
/Forever-Class-Icons/prompts.json
/Forever-Class-Icons/README.md
